body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}
a{
    text-decoration: none;
    font-size: 1em;
    color: black;
}
#Calculate{
    display: inline;
    height: 40px;
    background-color: bisque;
    border: none;
    border-radius: 3px;
    margin: 20px;
}
.resistor-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wire {
  width: 50px;
  height: 5px;
  background: #333;
}

.resistor-body {
  width: 160px;
  height: 50px;
  background: #d4af37;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;

}

.band {
  width: 10px;
  height: 55px;
  background-color: gray;
  border-radius: 2px;
}

.controls {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
}
